.profile {
  background-color: rgb(249, 218, 114);
  background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
}

.profile-name {
  font-size: 36px;
  display: flex;
  flex-direction: row;
}

/* .profile-picture {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.profile-name {
  display: flex;
  justify-content: center;
} */