.profile {
  background-color: rgb(249, 218, 114);
  background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
}

.profile-name {
  font-size: 36px;
  display: flex;
  flex-direction: row;
}
