.profile {
  height: 480px;
  width: 100%;
  margin-top: 120px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 242, 208);
  background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
}

/* .profile-picture {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.profile-name {
  display: flex;
  justify-content: center;
} */