/* .form-header {

} */

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #f4f1ec;
  font-family: sans-serif;
  font-size: 24px;
  margin: 22px;
  margin-top: 0px;
}

.form-header {
  font-size: 24px;
  padding-bottom: 5px;
}

.error-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e94545; 
  color: white;
  font-size: 24px; 
  padding: 5px;
}

.form-text {
  /* display: inline-block; */
  width: 100%;
  background-color: #f4f1ec;
  color:#545149;
  margin-bottom: 5px;
  border-bottom-width: 3px;
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  padding-bottom: 0px;
  line-height: 0.7em;
}

::placeholder {
  color: #7e7b72;
  /* font-weight: bold; */
}

.button {
  background-color: #4056A1;
  color: white;
  border-style: groove;
  border: 0px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: #304178;
  color:#bababa;
  box-shadow: inset 3px 3px 3px #1b2237;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  margin-top: 5px;
  margin-bottom: 35px;
}

.negative {
  color: #ed2020;
}

article {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  padding: 5px;
  margin: 20px;
}

article:hover {
  box-shadow: 5px 5px #b9bbdd;
  }

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  font-size: 22px;
  font-family: 'Source Sans 3';
  font-weight: 300;

}

article.tweet p.message {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid;
}

.post-date {
  margin: 10px;
  font-size: 14px;
}

.icons {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.icons a {
  color: #4056A1;
}

.icons i.fa-flag:hover {
  color: orange;
}

.icons i.fa-retweet:hover {
  color: orange;
}

.icons i.fa-heart:hover {
  color: orange;
}